<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.phpsemantics.debug.ui.launching.KPHPTabGroup"
            id="org.phpsemantics.debug.ui.launchConfigurationTabGroup1"
            type="org.phpsemantics.debug.core.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.phpsemantics.debug.ui.model.KPHPModelPresentation"
            id="org.phpsemantics.debug">
      </debugModelPresentation>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PHP Semantics"
            id="org.phpsemantics.debug.ui.views">
      </category>
      <view
            category="org.phpsemantics.debug.ui.views"
            class="org.phpsemantics.debug.ui.views.VariableMapView"
            icon="icons/sample.gif"
            id="org.phpsemantics.debug.ui.views.VariableMap"
            name="Variables Graph">
      </view>
      <view
            name="Heap"
            icon="icons/sample.gif"
            category="org.phpsemantics.debug.ui.views"
            class="org.phpsemantics.debug.ui.views.HeapView"
            id="org.phpsemantics.debug.ui.views.HeapView">
      </view>
      <view
            name="Configuration"
            icon="icons/sample.gif"
            category="org.phpsemantics.debug.ui.views"
            class="org.phpsemantics.debug.ui.views.ConfigView"
            id="org.phpsemantics.debug.ui.views.ConfigView">
      </view>
   </extension>
   
  
   <extension
         id="org.phpsemantics.DebugPerspective"
         name="PHP Semantics"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.phpsemantics.debug.ui.KPHPPerspectiveFactory"
            id="org.phpsemantics.debug.ui.perspective"
            name="KPHP">
      </perspective>
   </extension>
      
<!-- Normal operation group -->
   

</plugin>
