<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.phpsemantics.debug.core.launching.KPHPSourceLookupDirector"
            id="org.phpsemantics.debug.core.sourceLookupDirector"
            name="KPHP Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.phpsemantics.debug.core.launching.KPHPLaunchDelegate"
            id="org.phpsemantics.debug.core.launchConfigurationType1"
            modes="run, debug"
            name="KPHP"
            sourceLocatorId="org.phpsemantics.debug.core.sourceLookupDirector"
            sourcePathComputerId="org.phpsemantics.debug.core.sourcePathComputer1">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.phpsemantics.debug.core.launching.KPHPSoucePathComputerDelegate"
            id="org.phpsemantics.debug.core.sourcePathComputer1">
      </sourcePathComputer>
   </extension>

</plugin>
